amqp
asgiref
billiard
celery
cffi
click
click-didyoumean
click-plugins
click-repl
colorama
cron-descriptor
cryptography
openpyxl
dj-rest-auth
Django
django-environ
django-allauth
django-celery-beat
django-cors-headers
django-extensions
django-filter
django-redis
django-timezone-field
djangorestframework
djangorestframework_simplejwt
dj-database-url
drf-yasg
Faker
gunicorn
inflection
iniconfig
kombu
numpy
packaging
pillow
pluggy
prompt_toolkit
psycopg2-binary
pycparser
Pygments
PyJWT
pytest
pytest-django
python-crontab
python-dateutil
redis
python-decouple
pytz
PyYAML
redis
six
sqlparse
tzdata
tzlocal
uritemplate
vine
wcwidth
whitenoise
gunicorn
